<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAP IP Listesi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Son Bir Saatte Alınan IP Adresleri</h1>
        <ul class="ip-list">
            {{ range .IPAddresses }}
            <li class="ip-item">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</body>
</html>
